.App {
  text-align: center;
}

.gameboy {
  height: 550px;
  width: 500px;
  margin: 20px auto 0 auto;
  background-color: red;
  border-radius: 10px;
}

.screen {
  height: 250px;
  width: 400px;
  margin: 0 auto 0 auto;
  background-color: grey;
  border-radius: 10px;
}

.display {
  padding-top: 40px;
}

.pokeone {
  height: 100px;
  width: 100px;
  background-color: yellow;
  float: right;
  margin: 20px 20px 0 0;
}

.poketwo {
  height: 100px;
  width: 100px;
  background-color: blue;
  float: left;
  margin: 120px 0 0 20px;
}

.dpad img{
  height: 200px;
  width: 200px;
  text-align: center;
  padding: 20px 0 0 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
