body {
  background:
  radial-gradient(circle at 50% 59%, #D2CAAB 3%, #364E27 4%, #364E27 11%, rgba(54,78,39,0) 12%, rgba(54,78,39,0)) 50px 0,
  radial-gradient(circle at 50% 41%, #364E27 3%, #D2CAAB 4%, #D2CAAB 11%, rgba(210,202,171,0) 12%, rgba(210,202,171,0)) 50px 0,
  radial-gradient(circle at 50% 59%, #D2CAAB 3%, #364E27 4%, #364E27 11%, rgba(54,78,39,0) 12%, rgba(54,78,39,0)) 0 50px,
  radial-gradient(circle at 50% 41%, #364E27 3%, #D2CAAB 4%, #D2CAAB 11%, rgba(210,202,171,0) 12%, rgba(210,202,171,0)) 0 50px,
  radial-gradient(circle at 100% 50%, #D2CAAB 16%, rgba(210,202,171,0) 17%),
  radial-gradient(circle at 0% 50%, #364E27 16%, rgba(54,78,39,0) 17%),
  radial-gradient(circle at 100% 50%, #D2CAAB 16%, rgba(210,202,171,0) 17%) 50px 50px,
  radial-gradient(circle at 0% 50%, #364E27 16%, rgba(54,78,39,0) 17%) 50px 50px;
  background-color:#63773F;
  background-size:100px 100px;
}

.App {
  text-align: center;
  font-size: 14px;
  color: black;
  margin-top: 100px;
  font-family: 'Press Start 2P', cursive;
}

.gameboy {
  height: 550px;
  width: 475px;
  margin: 20px auto 0 auto;
  background-color: red;
  border-radius: 10px;
}

.screen {
  height: 230px;
  width: 400px;
  margin: 0 auto 0 auto;
  background-image: url("http://fc05.deviantart.net/fs71/f/2013/098/e/7/pokemon_x_y_battle_scene_by_jenske05-d5ynr9c.png");
  border-radius: 10px;
}

.display {
  padding-top: 40px;
}

.pokeone {
  height: 100px;
  width: 100px;
  float: right;
  margin: 55px 40px 0 0;
}

.poketwo {
  height: 100px;
  width: 100px;
  float: left;
  margin: 130px 0 0 60px;
}

.controls {
  display: flex;
}

.dpad img{
  height: 200px;
  width: 200px;
  text-align: center;
  padding: 20px 0 0 40px;
}

.button-area {
  margin-left: 60px;
  margin-top: 20px;
}

.button1 {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  margin: 45px 0 0 50px;
  color: white;
  text-align: center;
  font-size: 22px;
}

.button1 p {
  padding-top: 10px;
  user-select: none;
}

.button2 {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 22px;
}

.button2 p {
  padding-top: 10px;
  user-select: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
